<div class="panel panel-primary">
  <div class="panel-heading">
     <h2>Products Gallery</h2>
  </div>
  <div class="panel-body">
      <form [formGroup]="myForm" (ngSubmit)="addProduct()">
          <div class="form-group">
             <label class="col-md-4">Name</label>
             <input type="text" formControlName="name" name="name" required>
          </div>
          <div *ngIf="myForm.controls['name'].invalid && (myForm.controls['name'].dirty || myForm.controls['name'].touched)"
               class="alert alert-danger">
              <div *ngIf="myForm.controls['name'].required">
                  **** can't left blank ***
              </div>
          </div>

          <div class="form-group">
             <label class="col-md-4">Price</label>
             <input type="number" formControlName="price" name="price" required>
          </div>
          <div *ngIf="myForm.controls['price'].invalid && (myForm.controls['price'].dirty || myForm.controls['price'].touched)"
               class="alert alert-danger">
              <div *ngIf="myForm.controls['price'].required">
                  **** can't left blank ***
              </div>
          </div>

          <div>
             <input type="submit" class="btn btn-primary" [disabled]="myForm.pristine || myForm.invalid">
          </div>
      </form>
  </div>
</div>

<display></display>

