<ng-http-loader></ng-http-loader>


    <h3>Filter</h3>
        <mat-form-field>
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
        </mat-form-field>


    <table mat-table [dataSource]="dataSource" matSort class="my-table mat-elevation-z8">

        <ng-container matColumnDef="_id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header><span class="my_header">ID</span></th>
            <td mat-cell *matCellDef="let row" class="my_td">{{row._id}}</td>
        </ng-container>

        <ng-container matColumnDef="p_id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header><span class="my_header">P_ID</span></th>
            <td mat-cell *matCellDef="let row" class="my_td">{{row.p_id}}</td>
        </ng-container>

        <ng-container matColumnDef="p_name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header><span class="my_header">P_NAME</span></th>
            <td mat-cell *matCellDef="let row" class="my_td">{{row.p_name}}</td>
        </ng-container>

        <ng-container matColumnDef="p_cost">
            <th mat-header-cell *matHeaderCellDef mat-sort-header><span class="my_header">P_COST</span></th>
            <td mat-cell *matCellDef="let row" class="my_td">{{row.p_cost}}</td>
        </ng-container>

        <ng-container matColumnDef="countInStock">
            <th mat-header-cell *matHeaderCellDef mat-sort-header><span class="my_header">Count</span></th>
            <td mat-cell *matCellDef="let row" class="my_td">{{row.countInStock}}</td>
        </ng-container>

        <ng-container matColumnDef="numReviews">
            <th mat-header-cell *matHeaderCellDef mat-sort-header><span class="my_header">Reviews</span></th>
            <td mat-cell *matCellDef="let row" class="my_td">{{row.numReviews}}</td>
        </ng-container>

        <ng-container matColumnDef="image">
            <th mat-header-cell *matHeaderCellDef><span class="my_header">Images</span></th>
            <td mat-cell *matCellDef="let row"><img src="{{row.image}}" class="my_img"></td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row;columns:displayedColumns"></tr>
    </table>

    
<mat-paginator [pageSizeOptions]="[1,2,3,5,7]" showFirstLastButtons></mat-paginator>